.header {
    position: fixed;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    height: 150px;
    background-color: floralwhite;
}

.full_range {
    position: center;
}

.overflowing {
    overflow: auto;
}

.artists {
    height: 50px;
    border: 2px solid black;
    margin: 6px;
    padding: 6px;
    color: brown;
}

.active {
    color: black;
    pointer-events: none;
}

.listItem {
    background-color: #FFF4E6;
    border-color: #333;
}
